
/**
	Main Container
**/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	line-height: 26.4px;
	color: #2c3e50;
	background-color: white;
}

.main {
	width : 100%;
	height: 100%;
	z-index: 0;
}

#navigation {
	width: 40%;
	height: 100%;
	background-color: black;
	z-index: 1;
}

#introduction {
	background-color: yellow;
	height: 200px;
}
