
/**
	Main Container
**/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	color: white;
	background-image: url("pattern.png");
	margin: 0;
	padding: 0;
}

main {
	width : 100%;
	height: 100%;
}

.slide-container{
	width: 100%;
	height: 100%;
	background-color: #e74c3c;
	opacity: 0.60;
	overflow: hidden;
	position: fixed;
}

.slides { 
	position: absolute; 
	left: 0; 
	top: 0; 
	height: 100%;
	width: 100%;
}

.slides > div { 
	float: left; 
	height: 100%; 
	overflow: scroll; 
}

.header{
	color: white;
	z-index: 1;
	background-color: #e67e22;
	opacity: 0.60;
}

/** Header / Introduction (Name) **/

#title{
	font-size: 24px;
	line-height:15px;
	margin-top: 1%;
}

#social {
	margin-top: 1%;
}

#social, #navigation ul{
	list-style-type: none;
}

#social ul {
    text-align: right;
}

#social li {
	display: inline;
    color: #2980b9;
    margin-right: 10px;
}

#social li a {
    color: white;
    text-decoration: none;
}

#social li a:hover {
    color: #c0392b;
}

.nav-container{
	position: fixed;
	margin-top: 30%;
	width: 100%;
	z-index: 10000;
}

#child-nav {
	text-align: left;
	visibility: hidden;
	padding-left: 22%;
}

#child-nav li {
	color: white;
	display: inline-block;
	margin-right: 18%;
}

/** Navigation List **/
#navigation ul {
	text-align: left;
}

#navigation li {	
	color: white;
	display: inline-block;
	margin-right: 18%;
}

.slide{
	color: white;
	width: 100%;
	height: 100%;
}

.about, .work, .contact{
	bottom: 0px;
	height: 100%;
	width: 100%;
	display: none;
	position: absolute;
}
/** About Content **/
.about{
	background-color: #f1c40f;
}

.work {
	background-color: #27ae60;
}

.contact{
	background-color: #2980b9;
}
